<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="w-full h-screen bg-zinc-900 p-10">
    <h3 class="text-3xl mb-3 text-white">Login Your Account</h3>
    <form method="post" action="/login">
      <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none text-white" type="email" placeholder="email" name="email">
      <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none text-white" type="password" placeholder="password" name="password">
      <input class="px-5 py-2 rounded-md bg-blue-500" type="submit" value="Login">
    </form>
  </div>
</body>
</html>